{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 align = "center">My Profile</h2>
                {% if error %}
                    {% for err in error %}
                        <p align = "center" style="color: red; margin: 0;">{{ err }}</p>
                    {% endfor %}
                {% endif %}
                <form action= "" method="post">{% csrf_token %}
                    <div class="form-group row">
                        <div align = "center" class="col-sm-6">
                            <div align = "left">
                                <label for="tag1" class=" col-form-label">Username:</label>
                                <input id="tag1" type="text" class="form-control" value="{{ username }}" name="uname" placeholder="i.e. lucifer" >
                                <input type="hidden" value="{{ username }}" name="hidden_uname">
                            </div>
                            <div align = "right">
                                <a onclick="disable('tag1')">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div align = "center" class="col-sm-6">
                            <div align = "left">
                                <label for="tag2" class="col-form-label">Fullname:</label>
                                <input id="tag2" type="text" class="form-control" value="{{ fullname }}" name="fullname" placeholder="fullname">
                                <input type="hidden" value="{{ fullname }}" name="hidden_fullname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tag3" class="col-sm-5 col-form-label">Email:</label>
                        <div class="col-sm-15">
                             <input id="tag3" type="text" class="form-control" value="{{ email }}" name="email" placeholder="abc@xyz.com">
                             <input type="hidden" value="{{ email }}" name="hidden_email">
                        </div>
                        <div align = "right">
                            <a onclick="disable('tag3')">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>      
                    </div>
                    <div class="form-group row">
                        <div align = "center" class="col-sm-6">
                            <div align = "left">
                                <label for="tag4" class="col-form-label">Phone:</label>
                                <input id="tag4" type="number" value="{{ phone_no }}" class="form-control" minlength="10" maxlength="13" name="phone_no" placeholder="i.e. +17896644133">
                                <input type="hidden" value="{{ phone_no }}" name="hidden_phone_no" >
                            </div>
                            <div align = "right">
                                <a onclick="disable('tag4')">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div align = "center" class="col-sm-6">
                            <div align = "left">
                                <label for="tag5" class="col-form-label">Parent's Phone:</label>
                                <input id="tag5" type="number" class="form-control" value="{{ parent_phone_no }}" name="parent_phone_no" placeholder="i.e. +17896644133">
                                <input type="hidden" value="{{ parent_phone_no }}" name="hidden_parent_phone_no" >
                            </div>
                            <div align = "right">
                                <a onclick="disable('tag5')">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>                        
                    <div class="form-group row">
                        <div align = "center" class="col-sm-3">
                            <div align = "left">
                                <label for="tag6" class="col-form-label">Branch:</label>
                                <input id="tag6" type="text" class="form-control" value="{{ branch }}" name="branch" minlength="2" maxlength="6" placeholder="i.e. ce">
                                <input type="hidden" value="{{ branch }}" name="hidden_branch" >
                            </div>
                        </div>
                        <div align = "center" class="col-sm-6">
                            <div align = "left">
                                <label for="tag7" class="col-form-label">Current Semester:</label>
                                <input id="tag7" type="number" class="form-control" value="{{ semester }}" name="semester" minlength="1" maxlength="1" placeholder="i.e.4">
                                <input type="hidden" value="{{ semester }}" name="hidden_semester" >
                            </div>
                            <div align = "right">
                                <a onclick="disable('tag7')">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                        <div align = "center" class="col-sm-3">
                            <div align = "left">
                                <label for="tag8" class="col-form-label">Roll NO.:</label>
                                <input id="tag8" type="text" class="form-control" value="{{ roll_no }}" name="roll_no" minlength="3" maxlength="3" placeholder="200">
                                <input type="hidden" value="{{ roll_no }}" name="hidden_roll_no" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-15">
                            <label for="tag9" class="col-form-label">Student ID:</label>
                            <input id="tag9" type="text" class="form-control" value="{{ student_id }}" name="student_id" placeholder="20ceuod000">
                            <input type="hidden" value="{{ student_id }}" name="hidden_student_id" >
                        </div>
                        <div align = "right">
                            <a onclick="disable('tag9')">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                    </div>
                    <div align = "center">
                        <button type="submit" id = "savebtn" name="submit" class="btn btn-primary" formaction="{% url 'save_student_my_profile' %}">Save</button>
                        <button type="submit" id = "cancelbtn" name="cancel" class="btn btn-outline-secondary" formaction="{% url 'home' %}">Cancel</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </div>
</div>
<script>
    function disable(temp){
        document.getElementById(temp).disabled = false
        document.getElementById("savebtn").hidden = false
        document.getElementById("cancelbtn").hidden = false
    }
    function onLoadDisable(temp){
        document.getElementById("savebtn").hidden = true
        document.getElementById("cancelbtn").hidden = true
        var i;
        for (i = 1; i < 10; i++){
            document.getElementById("tag"+i.toString()).disabled = true
        }
    }
    document.addEventListener('DOMContentLoaded',onLoadDisable('savebtn'))
</script>
{% endblock %}